<%- contentFor('body') %>
<%- include('../partials/categories.ejs')%>
<main class="container">
    <div class="row mb-2">
        <%- include('../partials/big-news.ejs')%>
        <%- include('../partials/hot-news.ejs')%>
    </div>
    
    <div class="row g-5">
    
    <div class="col-md-8">      
    <h1>Hello World!</h1>

    </div>
    
    <div class="col-md-4">
        <%- include('../partials/right-menu.ejs')%>
        
        </div>
    </div>
</main>